*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(244, 240, 240);
}
.college-logo{
    width: 400px;
    height: 90px;
}
nav {
    background-color: #9c96f3;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    list-style-type: none;
    overflow: hidden;
    height: 50px;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #bbb7f4;
    cursor: pointer;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.garbage-level {
    font-size: 36px;
    color: #4CAF50;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: all 0.3s ease;
}



.btn {
    width: 90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.open{
    background-color: #4CAF50; /* Green */
   
}
.open:hover {
    background-color: #45a049;
}
.close{
    background-color: #ee5a1a; /* Green */
   
}
.close:hover {
    background-color: #ff6600;
}

/* About Carousel */
.stepper-container {
    max-width: 400px;
    margin: 10px auto;
  }
  
  .image-label {
    font-size: 1.5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-desc {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-view img {
    height: 255px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .stepper-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Contact Page */
iframe {
    width: 100%;
    height: 600px;
    border: none;
    overflow: hidden; /* Add this line */
}
  